body{
  background-color: black;
  color: white;
  padding: 100px;
}

h1{
  padding-top: 50px;
  text-align: center;
}

.container{
  border:1px;
}

.inline{
  display: inline-block;
  margin-right: 10px;
}

#hp, #str, #def{
  background-color: black;
  color: white;
}

#nextHp, #nextStr, #nextDef{
  color: green;
  width: 30px;
}

#statsRemaining{
  margin-left: 150px;
}

#submitBtn{
  visibility: hidden;
}

#loginBtn{
  margin-left: 300px;
}

#passwordError{
  visibility: hidden;
}

#scrollTable {
  background-color:black;
  color:white;
  width:100%;
}

#scrollDiv {
  height:250px;
  overflow:scroll;
}

#saveBtn{
  margin-left: 300px;
  margin-bottom: 20px;
}