<!DOCTYPE html>
<html>
<head>
	<title>Character Creation</title>
</head>
<body>
	<h1>Results</h1>
	<p>Name: <%= name %></p>
	<p>HP: <%= hp %></p>
	<p>STR: <%= str %></p>
	<p>DEF: <%= def %></p>
</body>
</html>