<!DOCTYPE html>
<html>
<head>
	<title>Game Saved</title>
</head>
<body>
	<h1>Game saved successfully.</h1>
	<p>Click here to return to login.</p>
	<form action="/" method="GET">
		<input type="submit" value="To login">
	</form>
	
</body>
</html>